{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="flex flex-row flex-wrap gap-4 mx-4">
<div>
{% include 'partials/default_base.html.twig' %}
</div>
</section>
{% endblock %}
