{% extends 'partials/base.html.twig' %}

{% block content %}
	<section class="">
		{% for module in page.collection() %}
			{{ module.content|raw }}
		{% endfor %}
	</section>
{% endblock %}
