{% extends 'receipes/front.html.twig' %}

{% block search %}
	<div class="pure-u-1 search">
		<div class="padding">
			{% include 'partials/simplesearch_searchbox.html.twig' %}
		</div>
	</div>
{% endblock %}
